<% layout('layouts/boilerplate') %>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="post">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" value="<%= campground.title %> ">
        </div>
        <div>
            <label for="location">Location: </label>
            <input type="text" id="location" name="location" value=" <%= campground.location %> ">
        </div>
        <button>edit</button>
    </form>
