body{
    background-image: url(https://images.unsplash.com/photo-1504851149312-7a075b496cc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FtcGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}
.heading{
    color: #fb8500;
    text-decoration: underline;
    margin-top: 1em;
}

.para{
    margin-top: 2em;
    font-size: 2em;
    color: #fefae0;
}

.css-btn{
    margin-top: 3em;
}

